<%- include("layout/header");-%>
<h1>home</h1>
<p><%= startingcontent %></p>
<% contents.forEach(function(element){ %>
    <h1><%= element.post %></h1>
    <p><%= element.content.substring(0,100) +"..." %></p>
<%}) %>
<%- include("layout/footer");-%>